.callout.gitlab-trial
  %h2
    Start your cloud native transformation
  %p
    Hear how Ask Media Group migrated from on-prem servers to the AWS cloud with GitLab tools and integrations. Join us and learn from their experience.
  = link_to "Save your spot!", "/webcast/cloud-native-transformation/", class: "btn cta-btn orange just-commit"
